{% extends 'base.html' %}
{% block content %}
  <h3>Configured Clients</h3>
  <div class='span-18 last'>
    <form method="get" action="edit">
      <button type="submit" name="action" value="new">Add Client</button>
      <table>
      {%- for peer, peerdata in peers.items()|sort(attribute='1.Description') %}
        <tr>
          <td>
            {{ peerdata['Description'] }}<br>
            {{ peerdata['Address'] }}
          </td>
          <td>
            <button type="submit" name="id" value="{{ peerdata['Id'] }}">Edit Client</button>
            <button type="submit" name="id" value="{{ peerdata['Id'] }}" formaction="config">Get Config</button>
          </td>
        </tr>
      {%- endfor %}
      </table>
    </form>
  </div>
{% endblock %}
